<% 
form_id = "#{content.dom_id}_content_form"
mce_id = "#{content.dom_id}_content"
message_container_id = "#{content.dom_id}_message_container"
message_id = "#{content.dom_id}_message"
-%>
<div id="<%= message_container_id %>" class="help-box" style="display:none;">
  <div id="flashMessage" class="message">
    <div id="<%= message_id %>" class="notice message"></div>
  </div>
</div>

<%= show_preview(@content) %>

<div id="<%= "#{content.dom_id}" %>" class="content_editor">
  <% custom_form_for(content, :url => get_content_form_url(@parent, @content), :html => html.merge(:id => form_id, :class => 'content_form') ) do |f| -%>
    <%= f.text_field :title, {:class => 'title', :tip => t('muck.contents.title_help'), :label => t('muck.contents.title_label') } %>
    <%= f.text_field :tag_list, {:class => 'tags', :tip => t('muck.contents.tags_help'), :label => t('muck.contents.tags_label') } %>
    <%= f.muck_select(:layout, :value, :name, t('muck.contents.choose_layout'), @content_layouts, {:tip => t('muck.contents.choose_layout_help')}) %>
    <%= capture(f, &block) %>
    <%= f.text_area :body_raw, {:label => t('muck.contents.content_label'), :class => 'mceEditor', :id => mce_id, :tip_key => mce_id, :tip => t('muck.contents.content_help') } %>
    <div class="button form-row">
      <%= f.submit t('muck.contents.submit_content_button'), :class => "button share-submit", :id => "content_submit_#{content.dom_id}" %>
      <%= f.hidden_field :uri_path unless content.uri_path.blank? %>
      <%= f.hidden_field :custom_scope unless content.custom_scope.blank? %>
    </div>
    <%= mce_fields(@parent) -%>
  <% end %>
</div>

<%= tiny_mce_scripts(:form_id => form_id, :mce_id => mce_id, :message_container_id => message_container_id, :message_id => message_id) -%>