<li id="<%=content.dom_id%>" class="contentContainer delete-container">
	<span class="link"><a href="<%=content.uri%>" target="_blank"><%= content.title %></a></span>
	<span class="content-controls">
	  <%= link_to t('muck.contents.edit'), edit_content_path(content.id), :title => t('muck.contents.edit_title'), :class => 'admin-content' -%> | 
    <%= link_to t('muck.contents.delete'), admin_content_path(content.id), :title => t('muck.contents.confirm_delete_content'), :class => 'admin-content ajax-delete' -%>
	</span>
</li>