<div id="content-manage">
  <h2><%= t('muck.contents.manage_content_title') %></h2>
  <p><%=translate('muck.contents.admin_create_instructions') %></p>
  <div id="content-search">
    <label><%=translate('muck.contents.search') %></label> <input id="auto-search" />
  </div>
  <div id="content-list-container">
    <ul id="content-list">
      <%= render :partial => 'admin/contents/content', :collection => @contents, :locals => {:parent_id => 0} -%>
    </ul>
  </div>
</div>
<% content_for :javascript do -%>
<script type="text/javascript" language="JavaScript">
jQuery(document).ready(function() {
  var cache = {};
  var lastXhr;
  jQuery("#auto-search").autocomplete({
		source: function(request, response){
			var term = request.term;
			if(term in cache){
				response(cache[term]);
				return;
			}
			lastXhr = jQuery.getJSON("<%=admin_contents_path(:format => 'json')%>", request, function(data, status, xhr){
			  var reduced_data = jQuery.map(data, function(item){
					return {
						label: item.title,
						value: item.id
					}
				});
				cache[term] = reduced_data;
				if(xhr === lastXhr){
					response(reduced_data);
				}
			});
		},
		minLength: 2,
		select: function(event, ui) {
		  if(ui.item){
		    location.href = '/contents/' + ui.item.value + '/edit';
		  }
		}
	});
});
</script>
<% end -%>