<div id="content-manage">
  <h2><%= t('muck.contents.manage_content_title') %></h2>
  <p><%=translate('muck.contents.admin_create_instructions') %></p>
  <div id="content-search">
    <label><%=translate('muck.contents.search') %></label> <input id="auto-search" />
  </div>
  <div id="content-list-container">
    <ul id="content-list">
      <%= render :partial => 'admin/contents/content', :collection => @contents, :locals => {:parent_id => 0} -%>
    </ul>
  </div>
</div>
<% content_for :javascript do -%>
<script type="text/javascript" language="JavaScript">
jQuery(document).ready(function() {
  var data = <%= @contents.collect{|content| { :title => content.title, :id => content.id } }.to_json.html_safe %>;
  jQuery("#auto-search").autocomplete(data, {
    minChars: 0,
    autoFill: true,
    mustMatch: false,
    formatItem: function(item) {
      return item.title;
    }
  }).result(function(event, item) { location.href = '/contents/' + item.id + '/edit'; });
});
</script>
<% end -%>