<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="<%= I18n.locale %>" xml:lang="<%= I18n.locale %>">
  <head>
    <title><%= @page_title || GlobalConfig.application_name %></title>
    <%= javascript_include_tag %w{
      jquery/jquery.js
      jquery/jquery.queryString.js
      jquery/jquery.autocomplete.min.js
      tiny_mce/tiny_mce_popup.js
      tiny_mce/utils/mctabs.js
      tiny_mce/utils/form_utils.js
      tiny_mce/utils/validate.js
      application.js }, :cache => 'tinymce_js_cached' %>
    <%= javascript_tag %[const AUTH_TOKEN = #{form_authenticity_token.inspect};] if protect_against_forgery? %>
    <%= stylesheet_link_tag %W{ tinymce jquery/jquery.autocomplete } %>
    <%= yield :head -%>
    <base target="_self" />
  </head>
  <body>
    <%= yield :layout %>
    <script type="text/javascript" language="JavaScript">
      <%= yield :javascript %>
    </script>
  </body>
</html>